<%var curr = new Date(end).getTime();
curr=curr+43200000

    var now = new Date(start).getTime();
  now=now+43200000
    var n=new Date().getTime();
    if(now>n){var distance =  now-n;

        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000); %>
<center>
    <div class="col-sm-12">
        </br>
        <p id="tik" style="font-size: 25px;color: forestgreen;">Contest starts in: </p>
        <p id="time" style="font-size: 20px;color: crimson;">
            <%=days%>d <%=hours%>h <%=minutes%>m <%=seconds%>s</p>
    </div>
</center>

<%}else{ var distance = curr - n;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000); 
    if(distance<0){
    %>
<center>
    <div class="col-sm-12">
        </br>
        <p id="tik" style="font-size: 25px;color: forestgreen;">Contest has ended</p>
        <p id="time" style="font-size: 20px;color: crimson;"></p>
    </div>
</center>
<%}else{
    %>
<center>
    <div class="col-sm-12">
        </br>
        <p id="tik" style="font-size: 25px;color: forestgreen;">Contest ends in:</p>
        <p id="time" style="font-size: 20px;color: crimson;">
            <%=days%>d <%=hours%>h <%=minutes%>m <%=seconds%>s</p>
    </div>
</center>


<% }}%>
<center>
   <br><br> <div style="font: size 25px;color: cornflowerblue;">Designed by
    <img src="https://img.techpowerup.org/200618/shuxton.png" style="width:50px">
   <div>
   Hosted by
    <img src="https://img.techpowerup.org/200618/whatsapp-image-2020-06-18-at-6-15-44-pm.jpg" style="width:50px">
</div>
</div>
</center>
</body>


</html>