<%var curr = new Date(end).getTime();


    var now = new Date(start).getTime();
  
    var n=new Date().getTime();
    if(now>n){%>
        <center>
            <div class="col-sm-12">
                <p id="tik" style="font-size: 50px;color: forestgreen;">Contest starts at <%=start%></p><br />
                <p id="time" style="font-size: 50px;color: crimson;"></p>
            </div>
        </center>

   <%}else{ var distance = curr - n;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000); 
    if(distance<0){
    %>
<center>
    <div class="col-sm-12">
        <p id="tik" style="font-size: 50px;color: forestgreen;">Contest has ended</p><br />
        <p id="time" style="font-size: 50px;color: crimson;"></p>
    </div>
</center>
<%}else{%>
    <center>
        <div class="col-sm-12">
            <p id="tik" style="font-size: 50px;color: forestgreen;">Contest ends in:</p><br />
            <p id="time" style="font-size: 50px;color: crimson;"><%=days%>d <%=hours%>h <%=minutes%>m <%=seconds%>s</p>
        </div>
    </center>


   <% }}%>
</body>


</html>