<%- include("./partials/header")%>

<div class="row">

  <%var y=currentUser.qno;
x=x+a;
var count=0;
var e = new Date(end).getTime();
e=e+(et*3600000)
var s = new Date(start).getTime();
s=s+(st*3600000)
var n=new Date().getTime();

var dis = e - n;
if(dis<=0 || n<s)y=mcq+con;
 %>

  <div class="col-sm-12">
    <div class="jumbotron" style="background:transparent !important">
      <%if(y<mcq){%>
      <form id="x" action="/quiz/<%=questions[y]._id%>/<%=currentUser._id%>/<%=currentUser.qno%>" method="POST">


        <div class="caption">
         <br> <h4 style="font-size: 35px;color: goldenrod;"><%=y+1%>)<%= questions[y].question %></h4>
          

          <p id="qtime" style="font-size: 20px;color: crimson;"></p>
        </div>
        <div style="color:lightgreen">
          <input type="radio" style="width:20px;height:20px" name="op" value="<%= questions[y].op1 %>" />
          <label id="<%=x%>op1" for="op1" style="font-size: 20px;"><%= questions[y].op1 %></label><br />
          <input type="radio" style="width:20px;height:20px" name="op" value="<%= questions[y].op2 %>" />
          <label id="<%=x%>op2" for="op2" style="font-size: 20px;"><%= questions[y].op2 %></label><br />
          <input type="radio" style="width:20px;height:20px" name="op" value="<%= questions[y].op3 %>" />
          <label id="<%=x%>op3" for="op3" style="font-size: 20px;"><%= questions[y].op3 %></label><br />
          <input type="radio" style="width:20px;height:20px" name="op" value="<%= questions[y].op4 %>" />
          <label id="<%=x%>op4" for="op4" style="font-size: 20px;">
            <%= questions[y].op4 %></label>

          <br /></div>
        <button class="btn btn-primary" id="sub" type="submit"
          style="font-size: 30px;background-color: tomato;border-width: 0px;">
          Next
        </button>
      </form>
      <%}else if(y<mcq+con ){cx=cx+a %>
      <br><div class="caption">
        <h4 style="font-size: 35px;color: goldenrod;"><%=y+1%>)<%= cquestions[y-mcq].question %></h4>
        <h4 style="font-size: 25px;color: coral;">Who said this?</h4>

        <p id="qtime" style="font-size: 20px;color: crimson;"></p>
      </div>
      <center>

        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
          <%if(cquestions[y-mcq].op1){for(var i=0;i<=imgCount;i++){%>
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail" style="width: 200px;">
              <%if(i==0){%>
              <img src="<%=cquestions[y-mcq].op1%>" style="height: 200px;padding: 10px;">
              <%}%>
              <%if(i==1){%>
              <img src="<%=cquestions[y-mcq].op2%>" style="height: 200px;padding: 10px;">
              <%}%>
                <%if(i==2){%>
              <img src="<%=cquestions[y-mcq].op3%>" style="height: 200px;padding: 10px;">
              <%}%>
                  <%if(i==3){%>
              <img src="<%=cquestions[y-mcq].op4%>" style="height: 200px;padding: 10px;">
              <%}%>
            </div>
          </div>
          <%}%>
            </div>
      </center>
      <center>
      <%if(imgCount<3){%>
      <form id="xx" action="/quiz/img/<%=cquestions[y-mcq]._id%>/<%=currentUser._id%>/<%=currentUser.qno%>" method="POST">
        <button class="btn btn-primary" id="sub1" type="submit" value="0"
          style="font-size: 30px;background-color:firebrick;border-width: 0px;margin-top: 10px;margin-left: 15px;">
          Next Clue
        </button>

      </form>
      <%}}%>
      <form id="xx" action="/quiz/ans/<%=cquestions[y-mcq]._id%>/<%=currentUser._id%>/<%=currentUser.qno%>" method="POST">
        <label for="text" style="margin-left: 15px;font-size: 30px;color:royalblue;">Answer-</label>
        <input class="text" type="text" placeholder="<%=cquestions[y-mcq].placeholder%>" name="ans"
          style="margin-top: 10px;margin-left: 15px;height: 45px;"><br />
        <button class="btn btn-primary" id="sub" type="submit"
          style="font-size: 30px;background-color: tomato;border-width: 0px;margin-top: 10px;margin-left: 15px;">
          Submit
        </button>
      </form>

      <%}else if(s>n){%>

      <p style="font-size: 50px;color: goldenrod;">Come back when the contest has started :)</p><br />


      <a class="btn btn-primary" id="sub" href="/" style="font-size: 30px;background-color: tomato;border-width: 0px;">
        Home Page
      </a>
      <%}else if(dis<=0){%>

        <p style="font-size: 50px;color: goldenrod;">The contest has ended already :(</p><br />
        <p style="font-size: 50px;color: lightgreen;"></p><br />
  
        <a class="btn btn-primary" id="sub" href="/quiz/leaderboard"
          style="font-size: 30px;background-color: tomato;border-width: 0px;">
          Leaderboard
        </a>
      <%}else {%>
      <p style="font-size: 50px;color: goldenrod;">Hope you had fun!</p><br />
      <p style="font-size: 50px;color: lightgreen;">Your score is <%=currentUser.score%></p><br />

      <a class="btn btn-primary" id="sub" href="/quiz/leaderboard"
        style="font-size: 30px;background-color: tomato;border-width: 0px;">
        Leaderboard
      </a>

      <%}%>
    </center>
    </div>
  </div>
 
</div>

        
         
<script>
  window.onload = function () {
    if (!window.location.hash) {
      window.location = window.location + '#loaded';
      window.location.reload();
    }
  }

  var cur = 30;
  var qt = setInterval(function () {
    tleft = cur;
    document.getElementById("qtime").innerHTML = "Time Left:" + tleft;
    if (tleft == 0) { document.getElementById("sub").click(); }
    cur = cur - 1;
  }, 1000)

</script>

          <%- include('./partials/footer') %>