<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../public//MainStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%if(title!=null){%>
  <title><%=title%> Quiz</title>
  <%}else{%>
  <title>Quiz</title>
  <%}%>

  <link rel="shortcut icon" type="image/x-icon" href="https://img.techpowerup.org/200618/shuxton.png">
</head>

<body>
  <header>
 
    <%if(title!=null){%>
  <div class="od"><a id="club" href="/"
      style="color: dodgerblue;font-style: oblique;font-weight: bold;font-size: 45px;"><%=title%></a><br />
    <%}else{%>
    <div class="od"><a id="club" href="/"
        style="color: dodgerblue;font-style: oblique;font-weight: bold;font-size: 45px;">Quiz</a><br />
      <%}%>
  

      <ul>

        <% if(!currentUser){ %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/register">Sign up</a></li>
      <%}else{%>}
      <li><a href="#">Signed in as <%=currentUser.username%></a></li>
      <li><a href="/logout">Logout</a></li>
      <%}%>
        <li style="margin-right: 0px;"><a href="/quiz/leaderboard" style="margin-right: 0px;">LeaderBoard</a></li>
      </ul>
    </div>
    </div>
  </header>
  <div class="Maincontent">
    <%if(url!=null){%>
     <br> <img src="<%=url%>" style="width: 320px;"><br>
    
      <a type="button" href="/quiz" class="button" value="Input Button">Start now</a>
      <div>
    <%}else if(title!=null && tag!=null){%>
      <h1><%=title%></h1>
      <p class="subtext"><%=tag%></p>
      <a type="button" href="/quiz" class="button" value="Input Button">Start now</a>
      <div>
        <%}else{%>
        <h1>Quiz</h1>
        <p class="subtext"></p>
        <a type="button" href="/quiz" class="button" value="Input Button">Start now</a>
        <div>
          <%}%>
         <br> <h2 style="color:rgb(234, 255, 47);">Instructions</h2>
          <ol style="color:rgb(0, 119, 128)" >
            




          <br> <br>    <li> 1.	Mention your Instagram name. In the off chance that you don’t use Instagram, mention your actual name.</li>
          <br> <br>    <li>2.	50 questions. </li>
          <br>  <br>  <li>3.	The MCQs are worth 10 points and the FitB are worth 15 points. You have 30 seconds to answer each question.</li>
          <br><br>    <li>4.	Keep a check on our Instagram page (<a href="https://www.instagram.com/uvcevinimaya/">@uvcevinimaya</a>), where results will be declared soon. </li>
          <br> <br>   <li>5.	This Quiz is open to everyone; so heads up, there's a 70% chance that you're attacked from the back.</li>
            </li>
          </ol>
        </div><br>
    
        <script>
          window.onload = function () {
            if (!window.location.hash) {
              window.location = window.location + '#loaded';
              window.location.reload();
            }
          }
        </script>
   <%- include('./partials/footer') %>