<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../public//MainStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%if(title!=null){%>
  <title><%=title%> Quiz</title>
  <%}else{%>
  <title>Quiz</title>
  <%}%>

  <link rel="shortcut icon" type="image/x-icon" href="https://img.techpowerup.org/200618/shuxton.png">
</head>

<body>
  <header>
 
    <%if(title!=null){%>
  <div class="od"><a id="club" href="/"
      style="color: dodgerblue;font-style: oblique;font-weight: bold;font-size: 45px;"><%=title%></a><br />
    <%}else{%>
    <div class="od"><a id="club" href="/"
        style="color: dodgerblue;font-style: oblique;font-weight: bold;font-size: 45px;">Quiz</a><br />
      <%}%>
  

      <ul>

        <% if(!currentUser){ %>
      <li><a href="/login">Log in</a></li>
      <li><a href="/register">Sign up</a></li>
      <%}else{%>
      <li><a href="#">Signed in as <%=currentUser.email%></a></li>
      <li><a href="/logout">Logout</a></li>
      <%}%>
        <li style="margin-right: 0px;"><a href="/quiz/leaderboard" style="margin-right: 0px;">LeaderBoard</a></li>
      </ul>
    </div>
    </div>
  </header><br><br><br><br><br><br>
  <div class="Maincontent">
    <%if(url!=null){%>
     <br> <img src="<%=url%>" style="width: 120px;"><br><br>
     <p style="font-size: 25px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: antiquewhite;"><%=tag%></p><br>
     <% if(!currentUser){ %>
      <a type="button" href="/quiz?id=123" class="button" value="Input Button">Start now</a>
      <%}else{%>
        
    <a type="button" href="/quiz?id=<%=currentUser._id%>" class="button" value="Input Button">Start now</a>
    <%}%>
      <div>
    <%}else if(title!=null && tag!=null){%>
      <h1><%=title%></h1>
      <p class="subtext"><%=tag%></p>
      <% if(!currentUser){ %>
        <a type="button" href="/quiz?id=123" class="button" value="Input Button">Start now</a>
        <%}else{%>
          
      <a type="button" href="/quiz?id=<%=currentUser._id%>" class="button" value="Input Button">Start now</a>
      <%}%>
      <div>
        <%}else{%>
        <h1>Quiz</h1>
        <p class="subtext"></p>
        <% if(!currentUser){ %>
          <a type="button" href="/quiz?id=123" class="button" value="Input Button">Start now</a>
          <%}else{%>
            
        <a type="button" href="/quiz?id=<%=currentUser._id%>" class="button" value="Input Button">Start now</a>
        <%}%>
        <div>
          <%}%>
         <br> <h2 style="color:rgb(234, 255, 47);">Instructions</h2>
          <ol style="color:rgb(230, 217, 217)" >
      

          <br> <br>    <li> 1.	Mention your Instagram name (Please mention the correct ID or we will not be tagging you). In the off chance that you don’t use Instagram, mention your actual name.
          </li>
          <br> <br>    <li>2.Total x questions. You get x hours to finish this quiz.</li>
          <br> <br>    <li>3. You are not allowed to skip any questions. Only after answering the question correctly can you move on to the next one. 
          </li>
          <br>  <br>  <li>4. The quicker you answer each question, the more the points you earn.</li>
          <br><br>    <li>5. For the answers, use only lowercase and no spaces or symbols to be used (Eg: if the answer is “Hello World”, enter “helloworld”). If two different answers are required, separate the word with only a ‘,’ (Eg: if the answer is “Hello” and “World”, enter “hello,world”). Only alphanumeric characters accepted.</li>
          <br><br>    <li>6.	Keep a check on our Instagram page (<a href="https://www.instagram.com/uvcevinimaya/" style="color: aquamarine;">@uvcevinimaya</a>), where results will be declared soon. </li>
          <br> <br>   <li>7.	This Quiz is open to everyone.</li>
            </li>
          </ol>
        </div><br>
    
        <script>
          window.onload = function () {
            if (!window.location.hash) {
              window.location = window.location + '#loaded';
              window.location.reload();
            }
          }
        </script>
   <%- include('./partials/footer') %>